# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================================
# VIRTUAL ENVIRONMENTS
# =========================================

venv/
env/
.venv/

# =========================================
# ENV FILES / API KEYS
# =========================================

.env
.env.*

# =========================================
# PYTHON CACHE / TESTS
# =========================================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================================
# JUPYTER / COLAB
# =========================================

.ipynb_checkpoints/

# =========================================
# FASTAPI / DATABASE
# =========================================

*.db
*.sqlite3

# =========================================
# LOG FILES
# =========================================

logs/
*.log

# =========================================
# TEMP FILES
# =========================================

tmp/
temp/
*.tmp

# =========================================
# MACHINE LEARNING MODELS
# =========================================

*.h5
*.onnx

# =========================================
# LARGE GENERATED DATASETS
# =========================================

generated_data/
temp_data/
exports/

# =========================================
# BUILD FILES
# =========================================

build/
dist/
*.egg-info/

# =========================================
# IDE / EDITOR
# =========================================

.idea/
.vscode/
*.iml

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db
desktop.ini