# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*.pyo

# =========================================
# VIRTUAL ENVIRONMENT
# =========================================

.venv/
venv/
env/

# =========================================
# PYCHARM / IDEA
# =========================================

.idea/
*.iml

# =========================================
# VS CODE
# =========================================

.vscode/

# =========================================
# FIREBASE
# =========================================

firebase_key.json

# =========================================
# ENVIRONMENT FILES
# =========================================

.env

# =========================================
# LOG FILES
# =========================================

*.log

# =========================================
# OPERATING SYSTEM
# =========================================

.DS_Store
Thumbs.db

# =========================================
# PYTEST
# =========================================

.pytest_cache/

# =========================================
# MYPY
# =========================================

.mypy_cache/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/